.app {
  display: flex;
  align-itens: center;
  justify-content: center;
  background: gray;
}

h1 {
  color: purple;
  font-weight: 700;
  margin-right: 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.addTaskButton {
  display: flex;
  align-items: center;

  background: purple;

  color: var(--white);
  font-weight: 1rem;

  border: none;
  border-radius: 100px;

  padding: 0.5rem 1rem;

  cursor: pointer;

  transition: background-color 0.2s;
}
.addTaskButton:hover {
  background: gray;
}

.addTaskButton svg {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
  }

  .addTaskButton {
    margin-bottom: 1rem;
  }
}

.container {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  padding: 2rem 1rem;
}

.tasks {
  margin: 2rem 0;
}

.tasks > div:first-child {
  margin-top: 0;
}
.tasks > div {
  margin-top: 2rem;
}
